.flex-basic {
    display: flex; 
    background:#f3f6f9;
    padding: 12px;
    gap: 8px;}

.item {
    background: #4b9;
    color: white;
    padding: 16px;
    border-radius: 6px;}

.flex-basic {justify-content: space-between;}
.flex-basic {justify-content: center;}
.flex-basic{align-items: center; height: 120px;}
.flex-basic{align-items: flex-end;}

.flex-grow {display: flex; gap: 10px;}
.col {padding: 16px; background: #eef;}
.a {flex: 1;}
.b {flex: 2;}
.c {flex: 1;}

.cards {display: flex; flex-wrap: wrap; gap: 12px;}
.cards {flex: 1 1 220px; padding: 18px; background: #fff; 
        border: 1px solid #ddd; border-radius: 8px;}

.toolbar {display: flex; align-items: center; gap: 10px;}
.center {margin: 0 auto;}
.right {order: 3;}
.left {order: 1;}

.grid-basic {display: grid; grid-template-columns: 150px 1fr 1fr; grid-auto-rows: 100px; gap: 10px;}
.g {background: #dfe; padding: 12px; border: 1px solid #cce;}

.grid-span {display: grid; grid-template-columns:220px 1fr 1fr; grid-template-rows:80px 1fr 60px;
gap:12px; height:80vh;}
.header {grid-column: 1 / 3;}
.aside {grid-column: 1 / 2; grid-row: 2 / 3;}
.main {grid-column: 2 / 3; grid-row: 2 / 3;}
.footer {grid-column: 1 / 3;}

.grid-areas {display: grid; grid-template-columns: 200px 1fr 300px; grid-template-rows: 70px 1fr 60px; 
gap: 12px; grid-template-areas:
"head head head"
"nav content ads"
"foot foot foot";}
.head {grid-area: head;}
.nav {grid-area: nav;}
.content {grid-area: content;}
.ads {grid-area: ads;}
.foot {grid-area: foot;}

.gallery {display: grid; grid-template-columns: repeat(auto-fit, minmax
    (220px,1fr)); gap: 16px;}
.card {background: #fff; border: 1px solid#eee; padding: 16px; height: 160px;}

.stack-grid {display: grid;}
.hero {grid-area: 1 / 1 / 2 / 2; width: 100%; height: auto;}
.overlay {grid-area: 1 / 1 / 2 / 2; justify-self: center; align-self: center; 
color: white; background: rgba(0, 0,0, 4); padding: 12px;}
